article > h1:not(:nth-child(2)) {
    margin: 1.0em 0 0;
}
h1 { margin: 1.0em 0 0; }
h2 { margin: 1.0em 0 0; }
h3 { margin: 1.0em 0 0; }
article hr {
    margin-top: 3em;
    border-top-width: 1px;
}
/*
article section.docstring {
    margin: 0;
    border: 0;
    padding: 0;
    margin-top: 1em;
}
*/
article table {
    text-align: center;
}
article p {
    text-align: justify;
}
article > header .edit-page {
    margin-left: 1em;
}
